h4{
	margin-left: 4%;
	//border-bottom: 2px solid black;
	text-decoration: underline;
}
h4:hover{
	color: red;
}
h3{
  text-align: center;
}
.embed-responsive {
	border: 1px solid red;
	box-shadow: 1px 1px 2px blue;
}
p{
	margin-left: 4%;
	margin-right: 4%;
}
	
img{
	border: 1px solid red;
}
img:hover{
	box-shadow: 1px 1px 1px blue;
}

ul{
	background-color: gray;
	width:220px;
	height: 330px;
	float: left;
	margin-top: 0%;
}
a{color:black;
}

/*spanish*/
.bimg{
	animation-name: slideinout;
	  animation-duration:6s;
  animation-iteration-count: infinite;
}
@keyframes slideinout {
   from{transform: translateX(0%);}
   to{transform: translateX(100%);}
}
/*up arrow*/
   #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1%; /* Place the button at the bottom of the page */
    right: 1%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: .5%; /* Some padding */
    border-radius: 10%; /* Rounded corners */
}
  #arrow{
	font-size: 200%;
}

#myBtn:hover {
    background-color: red; /* Add a dark-grey background on hover */
}
figcaption{ 
	color: white;
 font-size: 150%; 
 margin-top:-20%;
 text-align: center;
 }
/*lightbox*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
}

.close {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darkgray;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 16px;
	width: auto;
	background-color: black;
	cursor: pointer;
  font-weight: bold;
  font-size: 20px;

 }

.forward {
  right: 0;
}
.forward:hover {
  cursor: pointer;
   border: 1px solid red;
}
.back:hover {
  cursor: pointer;
   border: 1px solid red;
}

